.home-section { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
  padding: 0 20px;
}

.home-section h1 {
  font-size: 3em;
  font-weight: bold;
  color: #ff6347;
  text-align: center;
}

.home-section h2 {
  font-size: 2em;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.home-section p {
  font-size: 1.5em;
  max-width: 600px;
  text-align: center;
  padding-top: 15px;
  margin-bottom: 15px;
}

/* Buttons */
.hire, .download {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 15px;
}
.download a{
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.hire:hover, .download:hover {
  background-color: darkorange;
}
/* Home Media Queries */
@media (max-width: 480px) {
  .home-section h1 {
    font-size: 1.5rem;
  }

  .home-section h2 {
    font-size: 1.2rem;
  }

  .home-section p {
    font-size: 0.9rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .home-section h1 {
    font-size: 2rem;
  }

  .home-section h2 {
    font-size: 1.8rem;
  }

  .home-section p {
    font-size: 1.2rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .home-section h1 {
    font-size: 2.5rem;
  }

  .home-section h2 {
    font-size: 2rem;
  }

  .home-section p {
    font-size: 1.5rem;
  }
}

  

  
  