.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: black;
  color: #fff;
  position: fixed;
  top: 0; 
  left: 0; 
  width: 100vw;
  z-index: 999;
}

.navbar-title {
  font-size: 1.5rem;
}

span {
  color: orange;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  color: #000;
  background-color: white;
}

.hamburger div {
  height: 3px;
  width: 25px;
  background-color: white;
  margin: 4px 0;
}

.nav-links {
  display: flex;
  gap: 2.5rem;
}

.nav-link {
  
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: orange;
}




